---
layout: page.njk
---
{% header %}
<main class="flex-grow-1 m-0 p-0 min-vh-100">
{{ content | safe }}
</main>
{% footer %}

<!-- Login Modal -->
<div class="modal fade" id="login-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="login-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="login-label">Login</h5>
                <button type="button" class="btn-close btn-close-white" onclick="LoginAccountCloseAndClear()" aria-label="Close"></button>
            </div>
            <div class="modal-body was-validated">
                <div class="mb-3">
                    <label for="login-username" class="form-label">Username</label>
                    <input type="text" class="form-control text-white" required id="login-username">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="login-password" class="form-label">Password</label>
                    <input type="password" class="form-control text-white" required id="login-password">
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="LoginAccountCloseAndClear()">Cancel</button>
                <button type="button" class="btn btn-secondary" onclick="LoginAccount()">Login</button>
            </div>
        </div>
    </div>
</div>

<!-- Create Account Modal -->
<div class="modal fade" id="create-account-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="create-account-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-account-label">Create Account</h5>
                <button type="button" class="btn-close btn-close-white" onclick="CreateAccountCloseAndClear()" aria-label="Close"></button>
            </div>
            <div class="modal-body was-validated">
                <div class="mb-3">
                    <label for="create-username" class="form-label">Username</label>
                    <input type="text" class="form-control text-white" required id="create-username" oninput="ValidateUsernameAvailable()">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="create-password" class="form-label">Password</label>
                    <input type="password" class="form-control text-white" required id="create-password" oninput="CreateAccountValidatePasswordConfirmation()">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label for="create-password-confirm" class="form-label">Password Confirmation</label>
                    <input type="password" class="form-control text-white" required id="create-password-confirm" oninput="CreateAccountValidatePasswordConfirmation()">
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="CreateAccountCloseAndClear()">Cancel</button>
                <button type="button" class="btn btn-secondary" onclick="CreateAccount()">Create Account</button>
            </div>
        </div>
    </div>
</div>

<!-- Password Modal -->

<!-- MODALS
LOGIN
PASSWORD
CREATE ACCOUNT

CONFIRMATION
-->