---
layout: main.njk
---

This is the notes page - locally
<span id="status" class="text-white"></span>
<textarea id="textarea" oninput="call_update(this.value);" style="width: 80%;">

</textarea>

<script src="/assets/js/notes.js"></script>