---
layout: page.njk
---

This is the notes page
<span id="status"></span>
<textarea id="textarea" oninput="call_update(this.value);" style="height: 80vh; width: 80vw; margin: 10vw;">


</textarea>

<script src="/assets/js/notes.js"></script>